<nav class="navbar fixed-top">
  <div class="unicorn toggle-down navbar-brand"><%= image_tag("osulogo.png", size: "110x60") %></div>
  <ul class="nav">
    <% if user_signed_in? %>
      <li class="nav-item welcome">
        <p>Logged in: <%= current_user.username %></p>
      </li>
      <li class="nav-item">
          <%= link_to "Reimbursement Requests", root_path , class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% if current_user.admin %>
          <%= link_to "Admin", rails_admin_path , class: "nav-link" %>
        <% end %>
      </li>
        <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", new_user_session_path, class:"sign-in btn btn-primary" %>
      </li>
    <% end %>
  </ul>
</nav>
