<tr class="nested-fields accounting" data-table-name="accounting">
  <td><%= f.input :index, label: false %></td>
  <td>
    <%= f.input :account, label: false,
      collection: @account_codes,
      input_html: { class: 'account-code' },
      label_method: lambda { |c| "#{c.code} -- #{c.name}" },
      value_method: lambda { |c| c.code }
    %>
</td>
<td><%= f.input :amount, label: false, input_html: { class: 'accounting-row-total' } %></td>
<td>
  <input type='hidden' class='unique-id' />
  <%= f.input :fund, label: false, input_html: { value: current_user ? current_user.organization.fund : ' ' }, wrapper_html: { class: 'hidden' } %>
  <%= f.input :organization, label: false, as: :hidden, input_html:{ value: current_user ? current_user.organization.organization_code : ' '}%>
  <%= f.input :program, label: false, as: :hidden, input_html: { value: current_user ? current_user.organization.program_code : ''  }  %>
  <%= f.input :activity, label: false, input_html: { value: current_user ? current_user.activity_code : ''}, wrapper_html: { class: "hidden"  }  %>
  <%= link_to_remove_association f,
    class: "btn btn-danger btn-sm",
    "data-toggle" => 'tooltip',
    "data-placement" => 'top',
    title: t('reimbursement_request_form.tooltips.remove_accounting')  do %>
    <i class="fa fa-trash-o fa-2x"></i>
  <% end %>
</td>
</tr>
<%= f.input_field :_destroy, as: :hidden, class: 'destroy', value:'false' %>
<%= f.input_field :id, as: :hidden %>
