<tr class="nested-fields basic" data-table-name="expense-airfare">
  <td><%= f.input :from_date, as: :date_picker, label: false, input_html: { value: f.object.from_date ? f.object.from_date.to_date : '' } %></td>
  <td><%= f.input :to_date, as: :date_picker, label: false, input_html: { value: f.object.to_date ? f.object.to_date.to_date : '' } %></td>
  <td><%= f.input :from_location, label: false %></td>
  <td><%= f.input :to_location, label: false %></td>
  <td><%= f.input :notes, label: false, as: :string %></td>
  <td><%= f.input :amount, label: false , input_html: { class: "row-sum-input", value: number_with_precision(f.object.amount, precision: 2) }%></td>
  <td>
    <input type='hidden' class='unique-id' />
    <%= link_to_remove_association f,
        class: "btn btn-danger btn-sm",
        "data-toggle" => 'tooltip',
        "data-placement" => 'top',
        title: t('reimbursement_request_form.tooltips.remove_airfare')  do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <% end %>
  </td>
</tr>
<%= f.input_field :_destroy, as: :hidden, class: 'destroy', value:'false' %>
<%= f.input_field :id, as: :hidden %>
