<tr class="nested-fields">
  <td>
    <%= f.input :expense_type_id,
        collection: @expense_types,
        label_method: lambda { |e| e.name },
        value_method: lambda { |e| e.id },
        label: false  %>
  </td>
  <td><%= f.input :from_date, as: :date_picker, label: false %></td>
  <td><%= f.input :to_date, as: :date_picker, label: false %></td>
  <td><%= f.input :notes, label: false, as: :string%></td>
  <td><%= f.input :amount, label: false, input_html: { class: "amount-input" } %></td>
  <td>
    <%= link_to_remove_association f, class: "btn btn-danger btn-sm"  do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <% end %></td>
</tr>