<div class="form-row nested-fields">
  <div class="form-col"><%= f.input :from_date, as: :date_picker, label: false %></div>
  <div class="form-col"><%= f.input :to_date, as: :date_picker, label: false%></div>
  <div class="form-col"><%= f.input :from_location, label: false %></div>
  <div class="form-col"><%= f.input :to_location, label: false %></div>
  <div class="form-col"><%= f.input :notes, label: false, as: :string %></div>
  <div class="form-col"><%= f.input :amount, label: false , input_html: { class: "amount-input" }%></div>
  <div class="form-col"><%= link_to_remove_association "Remove", f %></div> 
</div>
