<tr class="nested-fields">
  <td><%= f.input :from_date, as: :date_picker, label: false %></td>
  <td><%= f.input :to_date, as: :date_picker, label: false%></td>
  <td><%= f.input :from_location, label: false %></td>
  <td><%= f.input :to_location, label: false %></td>
  <td><%= f.input :notes, label: false, as: :string %></td>
  <td><%= f.input :amount, label: false , input_html: { class: "amount-input" }%></td>
  <td><%= link_to_remove_association "Remove", f %></td>
</tr>
