<div id="airfare_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.airfare')%></h3>
    </div>
    <div class="form-row">
      <div class="alert alert-info" role="alert">
        <h3><i class="fa fa-bell bell animated bounce" aria-hidden="true"></i> Please note</h3>
        <p>Only fill this out if you bought your own plane ticket, and make sure you explain why you are claiming this in the <strong> business notes and purpose</strong> section above.</p>
        <p>If one ticket was purchased for a round trip, only use one line to indicate that ticket.</p>
        <a href="http://fa.oregonstate.edu/fis-manual/400-expenditures/411-travel/411-01-air-transportation" target="_blank">411-01 Air Transportation</a>
      </div>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["From Date", "To Date", "From Airport", "To Airport", "Notes", "Amount", ""], id: "airfare", total_class: "airfare-total" } do %>
      <%= f.simple_fields_for :expense_airfares do |expense_airfare| %>
        <%= render "expense_airfare_fields", f: expense_airfare %>
      <% end %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association f, :expense_airfares,
          class: 'btn btn-primary btn-sm',
          id: "add_airfare",
          'data-association-insertion-node' => '#airfare tbody',
          'data-association-insertion-method' => 'append' do %>
            <i class="fa fa-plus-square-o"></i>
            <span><%= t('reimbursement_request_form.buttons.add_expense_airfares') %></span>
      <% end %>
    </div>
  </div>
</div>
