<%= simple_form_for @reimbursement_request, html: { multipart: true, class: 'reimbursement-request-form' } do |f| %>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 side-pane">
      <a href="#form" class="skip-main"> Skip to form </a>
      <%= render partial: 'tab_navigation' %>
      <%= render partial: 'form_total', locals: { f: f } %>
    </div>
    <div class="col-xl-9 col col-lg-8 col-md-12 tab-content main-pane">
      <%= render "form_error", obj: @reimbursement_request %>
      <%= render partial: 'form_traveller_information',  locals: { f: f, current_user: current_user, certifiers: @certifiers }  %>
      <div class="tab-pane active" id="itinerary_panel">
        <%= render partial: 'form_itinerary', locals: { f: f } %>
      </div>
      <%= render partial: 'form_other_expenses', locals: { f: f } %>
      <%= render partial: 'form_airfare', locals: { f: f } %>
      <%= render partial: 'form_mileage', locals: { f: f } %>
      <%= render partial: 'form_attachments', locals: { f: f } %>
      <%= render partial: 'form_accounting', locals: { f: f } %>
      <div class="form-row submit-row justify-content-around">
        <a class="btn btn-default btn-primary next-prev-nav visibility-hidden" id="prev-tab" href=#>
          <i class="fa fa-chevron-left"></i>
          Prev
        </a>
        <div class="status-buttons">
          <%= f.button :button, 'Save as Draft', value: "draft", name: 'status', class: "btn btn-primary", type: 'submit'%>
          <%= f.button :button, 'Submit Request', value: "submitted", name: 'status', class: "btn btn-success", type: 'submit'%>
        </div>
        <a class="btn btn-default btn-primary next-prev-nav" id="next-tab" href=#>
          Next
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
<% end %>
