<div id="itinerary_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.cities_travelled') %></h3>
    </div>
      <div class="alert alert-info" role="alert">
        <h3><i class="fa fa-bell animated bounce" aria-hidden="true"></i> Please note</h3>
        <p>
        You can find your maximum daily <strong>Meal Per Diem</strong> and <strong>Hotel Rate Per Diem</strong> by checking the business affairs tables for <a href="http://oregonstate.edu/dept/fa/businessaffairs/travel/tres/per_diem_us" target="_blank">domestic</a> or <a href="http://oregonstate.edu/dept/fa/businessaffairs/travel/tres/per_diem_foreign" target="_blank">international</a> travel.
        If you went to more than one city, be sure to use the <strong><i class="fa fa-plus-square-o"></i>Add City</strong> button.
        Find the city or cities you went traveled to, and enter the <strong>Per Diems</strong>.
        </p>
        <p>
        You can claim up to the sum of the meal daily rate and hotel daily rate each day. If you spent more than the maximum rate on any given day, you can claim the extra amount separately by clicking on the <i class="fa fa-plus"></i> button. This will create a seperate expense for the Over Per Diem amount.
        </p>
        <p><a href="http://fa.oregonstate.edu/fis-manual/400-expenditures/411-travel/411-04-meals" target="_blank">411-04 Meals</a></p>
        <p><a href="http://fa.oregonstate.edu/fis-manual/400-expenditures/411-travel/411-03-lodging" target="_blank">411-03 Lodging</a></p>
      </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "Location", "Meals Per Diem", "Hotel Per Diem", "Total Per Diem", ""], id: "cities_travelled" } do %>
      <%= f.simple_fields_for :travel_cities do |travel_city| %>
        <%= render partial: "travel_city_fields", locals: { f: travel_city, object: f } %>
      <% end %>
    <% end %>
    <div class="form-row add-row">
      <%= link_to_add_association  f, :travel_cities,
        class: 'btn btn-primary btn-sm',
        render_options: { locals: { object: f }},
        'data-association-insertion-node' => '#cities_travelled tbody',
        'data-association-insertion-method' => 'append' do %>
        <i class="fa fa-plus-square-o"></i>
        <span><%= t('reimbursement_request_form.buttons.add_travel_city') %></span>
      <% end %>
    </div>

    <div class="form-row">
      <div class="col">
      <h4><%= t('reimbursement_request_form.headers.daily_itineraries') %></h4>
      </div>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["Date", "Location", "Breakfast", "Lunch", "Dinner", "Hotel", "Amount", ""], id: "daily_itineraries", total_class: "itineraries-total" } do %>
      <%= f.simple_fields_for :travel_itineraries do |travel_itinerary| %>
        <%= render "travel_itinerary_fields", f: travel_itinerary %>
      <% end %>
    <% end %>
    <div class="form-row add-row hidden">
      <%= link_to_add_association f, :travel_itineraries,
        class: 'btn btn-primary btn-sm',
        id: "add_travel_itinerary",
        'data-association-insertion-node' => '#daily_itineraries tbody',
        'data-association-insertion-method' => 'append' do %>
        <i class="fa fa-plus-square-o"></i>
        <span><%= t('reimbursement_request_form.buttons.add_daily_itinerary') %></span>
      <% end %>
    </div>
    <div class="form-row justify-content-left">
      <div class="col-auto">
        <h4>Expenses Above Per Diem</h4>
      </div>
      <div class="col-8 alert alert-warning alert-dismissible alert-inline fade hidden" role="alert">
        If you need reimbursement above per diem, you should explain why in the business notes and purpose
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["Date", "Notes", "Amount"], id: "expense_above_per_diems", total_class: "other-expenses-total" } do %>
      <%= f.simple_fields_for :expense_others do |expense_other| %>
        <%= render "expense_above_per_diem_fields", f: expense_other if expense_other.object.above_per_diem_expense %>
      <% end %>
    <% end %>
    <div class="form-row add-row hidden">
      <%= link_to_add_association f, :expense_others,
        class: 'btn-primary btn-sm',
        id: "add_over_per_diem",
        'data-association-insertion-node' => '#expense_above_per_diems tbody',
        'data-association-insertion-method' => 'append',
        partial: 'expense_above_per_diem_fields' do %>
        <i class="fa fa-plus-square-o"></i>
      <% end %>
    </div>
  </div>
</div>
