<div id="other_expenses_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.other_expenses')%></h3>
    </div>
    <div class="form-row">
      <div class="alert alert-info" role="alert">
        <h3><i class="fa fa-bell bell animated bounce" aria-hidden="true"></i> Please note</h3>
        <p>Explain all expenses you claim by adding details in the <strong> business notes and purpose</strong> section above.</p>
        <p><a href="http://fa.oregonstate.edu/fis-manual/400-expenditures/411-travel/411-09-non-reimbursable-expenses" target="_blank">411-09 Non-Reimbursable Expenses</a></p>
        <p><a href="http://fa.oregonstate.edu/fis-manual/400-expenditures/411-travel/411-05-conference-registration-expenses" target="_blank">411-05 Conference Registration Expenses</a></p>
      </div>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["Expense Type", "From", "To", "Notes", "Amount", ""], id: "other_expenses", total_class: "other-expenses-total" } do %>
      <%= f.simple_fields_for :expense_others, f.object.expense_others.not_above_per_diem do |expense_other| %>
        <%= render "expense_other_fields", f: expense_other %>
      <% end %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association f, :expense_others,
          class: 'btn btn-primary btn-sm',
          id: "add_expense_other",
          'data-association-insertion-node' => '#other_expenses tbody',
          'data-association-insertion-method' => 'append',
          partial: "expense_other_fields" do %>
            <i class="fa fa-plus-square-o"></i>
            <span><%= t('reimbursement_request_form.buttons.add_other_expense') %></span>
      <% end %>
    </div>
  </div>
</div>
