<div id="accounting_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.accounting')%></h3>
    </div>
    <div class="form-row">
      <div class="alert alert-info" role="alert">
        <strong>Please note</strong>
        <p>If you are using multiple indexes to pay for your travel, then you have to input the amount that is being charged to each index.</p>
      </div>
    </div>
<%= render layout: "nested_fields_table", locals: { attributes: ["Index", "Account", "Amount"], id: "accountings", total_class: "accountings-total" } do %>      <%= f.simple_fields_for :accountings do |accounting| %>
        <%= render "accounting_fields", f: accounting %>
      <% end %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association f, :accountings,
          class: 'btn btn-primary btn-sm',
          id: "add_accountings",
          'data-association-insertion-node' => '#accountings tbody',
          'data-association-insertion-method' => 'append' do %>
            <i class="fa fa-plus-square-o"></i>
            <span><%= t('reimbursement_request_form.buttons.add_accounting') %></span>
      <% end %>
    </div>
  </div>
</div>
