<div id="accounting_panel" class="form-row tab-pane">
  <div class="col col-12">
    <div class="form-row">
      <h3><%= t('reimbursement_request_form.headers.accounting')%></h3>
    </div>
    <div class="form-row">
      <div class="alert alert-info" role="alert">
        <h3><i class="fa fa-bell bell animated bounce" aria-hidden="true"></i> Please note</h3>
        <p>The application will attempt to automatically detect if you need to utilize multiple account codes for your reimbursement. If you paid for your conference registration, supplies and services (such as paper or other materials), or you hosted guests as part of your travel, then these will appear as additional lines in the accounting section. Please identify the amounts that you paid for these specific items on those accounting lines. All other expenses will go on your travel account line (39115, 39615, etc).</p>
      </div>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["Index", "Account", "Amount"], id: "accountings", total_class: "accountings-total" } do %>
      <%= f.simple_fields_for :accountings do |accounting| %>
        <%= render "accounting_fields", f: accounting %>
      <% end %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association f, :accountings,
          class: 'btn btn-primary btn-sm',
          id: "add_accountings",
          'data-association-insertion-node' => '#accountings tbody',
          'data-association-insertion-method' => 'append' do %>
            <i class="fa fa-plus-square-o"></i>
            <span><%= t('reimbursement_request_form.buttons.add_accounting') %></span>
      <% end %>
    </div>
  </div>
</div>
