<div id="other_expenses_panel" class="row">
  <div class="col-12">
    <div class="row">
      <h3>Other Expenses</h3>
    </div>
    <%= render layout: "nested_fields_table", locals: { attributes: ["Expense Type", "From", "To", "Notes", "Amount", ""], id: "other_expenses", total_class: "other-expenses-total" } do %>
      <%= f.simple_fields_for :expense_others do |expense_other| %>
        <%= render "expense_other_fields", f: expense_other %>
      <% end %>
    <% end %>
    <div class="row">
      <%= link_to_add_association 'Add line', f, :expense_others,
          'data-association-insertion-node' => '#other_expenses tbody',
          'data-association-insertion-method' => 'append' %>
    </div>
    <div class="row justify-content-end">
      <%= f.input :other_total, input_html: { class: "other-expenses-total" }  %>
    </div>
  </div>
</div>
