<%= simple_form_for @reimbursement_request, url: reimbursement_requests_path, html: { multipart: true } do |f| %>
  <h3>Traveller Information</h3>
  <p>Name: <%= current_user.full_name if user_signed_in? %></p>
  <%= f.input :non_resident_alien %>
  <%= f.input :address %>
  <%=
    f.input :certifier_id,
      collection: @certifiers,
      label_method: lambda { |c| c.full_name },
      value_method: lambda { |c| c.id }
    %>
  <h3>Request Information</h3>
  <%= f.input :identifier %>
  <%= f.input :description, as: :text %>
  <%= f.input :business_notes_and_purpose %>
  <% # create certifiers dropdown where each certifier is labeled by name but the form passes their id to params %>
  <h3>Itinerary</h3>
  <div class="container">
    <%= f.input :depart_time, as: :time_picker %>
    <%= f.input :return_time, as: :time_picker %>
  </div>
  <h4>Cities</h4>
  <%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "State", "City", "Include meals?", "Hotel rate"] } do %>
    <%= f.simple_fields_for :travel_cities do |travel_city| %>
      <%= render "travel_city_fields", f: travel_city %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :travel_cities %>
    </div>
  <% end %>
  <h4>Daily Itineraries</h4>
  <%= render layout: "nested_fields_table", locals: { attributes: ["Date", "State", "City", "Break", "Lunch", "Dinner", "Hotel", "Amount"] } do %>
    <%= f.simple_fields_for :travel_itineraries, wrapper: false, defaults: { label: false } do |travel_itinerary| %>
      <%= render "travel_itinerary_fields", f: travel_itinerary %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :travel_itineraries %>
      <%= f.input :itinerary_total, input_html: { class: "total-input" } %>
    </div>
  <% end %>
  <h3>Auto Mileage</h3>
  <%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "From State", "From City", "To State", "To City", "Round Trip?", "Miles", "Notes", "Amount"] } do %>
    <%= f.simple_fields_for :expense_mileages, wrapper: false, defaults: { label: false } do |expense_milage| %>
      <%= render "expense_mileage_fields", f: expense_milage %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :expense_mileages %>
      <%= f.input :mileage_total, input_html: { class: "total-input" }  %>
    </div>
  <% end %>
  <h3>Airfare</h3>
  <%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "From Location", "To Location", "Notes", "Amount"] } do %>
    <%= f.simple_fields_for :expense_airfares, wrapper: false, defaults: { label: false } do |expense_airfare| %>
      <%= render "expense_airfare_fields", f: expense_airfare %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :expense_airfares %>
      <%= f.input :airfare_total, input_html: { class: "total-input" }  %>
    </div>
  <% end %>
  <h3>Other expenses</h3>
  <%= render layout: "nested_fields_table", locals: { attributes: ["Expense Type", "From", "To", "Notes", "Amount"] } do %>
    <%= f.simple_fields_for :expense_others, wrapper: false, defaults: { label: false } do |expense_other| %>
      <%= render "expense_other_fields", f: expense_other %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :expense_others %>
      <%= f.input :other_total, input_html: { class: "total-input" }  %>
    </div>
  <% end %>
  <h3>Accounting</h3>
  <%= render layout: "nested_fields_table", locals: { attributes: ["Index", "Fund", "Organization", "Account", "Program", "Activity", "Amount"] } do %>
    <%= f.simple_fields_for :accountings, wrapper: false, defaults: { label: false } do |accounting| %>
      <%= render "accounting_fields", f: accounting %>
    <% end %>
    <div class="form-row">
      <%= link_to_add_association 'Add line', f, :accountings %>
      <%= f.input :accounting_total, input_html: { class: "total-input" }  %>
    </div>
  <% end %>


  <h3>Attachments</h3>

  <div class = "control-group">
    <%= f.label :attachments, class: 'control-label' %>
    <div class = "controls">
      <%= file_field_tag "attachments[]", type: :file, multiple: true %>
    </div>
  </div>

  <h3>Total</h3>
  <div class="total">
    <button class="btn btn-success" id="calculate-total">Calculate Total</button>
    <%= f.input :grand_total, input_html: { class: "grand-total-input" } %>
  </div>
  </p>
  <p>
  <%= f.button :submit, class: "btn btn-primary" %>
  </p>
<% end %>
