<div class="row">
  <h3>Auto Mileage</h3>
</div>
<%= render layout: "nested_fields_table", locals: { attributes: ["From", "To", "From State", "From City", "To State", "To City", "Round Trip?", "Miles", "Notes", "Amount", ""], id: "mileage", total_class: "mileage-total" } do %>
  <%= f.simple_fields_for :expense_mileages do |expense_milage| %>
    <%= render "expense_mileage_fields", f: expense_milage %>
  <% end %>
<% end %>
<div class="row">
  <%= link_to_add_association 'Add line', f, :expense_mileages,
      'data-association-insertion-node' => '#mileage tbody',
      'data-association-insertion-method' => 'append' %>
</div>
<div class="row justify-content-end">
  <%= f.input :mileage_total, input_html: { class: "mileage-total" }  %>
</div>
