<div class="row">
  <div class="col-12 request-table-row">
    <% if user_signed_in? and @reimbursement_requests %>
      <div class="row">
        <h2>Reimbursement Requests</h2>
      </div>
      <%= render partial: "reimbursement_requests/table_filters" %>
      <div class="row">
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>Request</th>
              <th>Last Edit</th>
              <th>Claimant</th>
              <th>Certifier</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @reimbursement_requests.each do |reimbursement_request| %>
              <tr class="<%= get_table_row_class(reimbursement_request) %>" >
                <td><%= link_to get_request_title(reimbursement_request), reimbursement_request_path(reimbursement_request) %></td>
                <td><%= reimbursement_request.updated_at
                .in_time_zone("Pacific Time (US & Canada)")
                .strftime("%m/%d/%y") %></td>
                <td><%= reimbursement_request.claimant.full_name  if reimbursement_request.claimant %></td>
                <td><%= reimbursement_request.certifier.full_name if reimbursement_request.certifier %></td>
                <td><%= reimbursement_request.status ? reimbursement_request.status.name : "Pending" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>Sign in to view reimbursement requests</p>
    <% end %>
  </div>
</div>


