<div class="row">
  <div class="col-12">
    <h3><%= title %>:</h3>
    <% if !local_assigns[:objects] or objects.count == 0 %>
      <p><%= "No #{title.downcase.pluralize}"%></p>
    <% else %>
      <table class="table table-sm" id=<%= id %>>
        <thead>
          <tr>
            <% attributes.each do |attr| %>
              <th><%= attr.titlecase %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% objects.each do |obj| %>
            <tr>
              <% attributes.each do |attr| %>
                <td>
                  <% if local_assigns[:functions] && functions.has_key?(attr) %>
                    <%= functions[attr].call(obj) %>
                  <% else %>
                    <%= obj.send(attr) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
