<div class="print-hide">
  <h2>Comments: </h2>
  <div class="col-8">
    <ul>
      <%= render 'status_comment_form', class: "col-9", object:StatusComment.new %>
      <% @reimbursement_request.status_comments.sort_by(&:created_at).each do |status_comment|%>
        <li class="comment">
          <div class="row">
            <div class="container">
              <div class="float-left">
                <h5><%= status_comment.user.full_name.split.second %> <%= status_comment.user.full_name.split.first[0...-1] %></h5>
              </div>
              <div class="float-right date">
                <p><%= status_comment.created_at.strftime('%d %B, %Y') %></p>
              </div>
            </div>
          </div>
          <p><%= status_comment.comment %></pre>
              <div class="text-right destroy">
                <%if current_user.id==status_comment.user.id %>
                  <%= button_to 'Destroy', reimbursement_request_comment_delete_path(@reimbursement_request.id, status_comment.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-danger btn-sm" %>
                <%end%>
              </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
