<tr class="nested-fields travel-itinerary" data-table-name="travel-itinerary">
  <td><%= f.input :date, as: :date_picker, label: false %></td>
  <td><%= f.select :state, CS.get(:us).map { |state| [state[1], state[1], { id: state[0] } ] }, { prompt: "State" }, id: "states-of-country", class: "form-control"  %></td>
  <td><%= f.select :city, [],{ prompt: "City" }, id: "cities-of-state", class: "form-control" %></td>
  <td><%= f.input :break, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :lunch, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :dinner, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :hotel, label: false, input_html: { class: 'hotel sum-input' } %></td>
  <td><%= f.input :amount, label: false, input_html: { disabled: true, class: "row-sum-input" } %></td>
  <td>
    <input type='hidden' class='travel-city-id' />
    <input type='hidden' class='unique-id' />
    <%= link_to_remove_association f,
        class: "btn btn-danger btn-sm",
        "data-toggle" => 'tooltip',
        "data-placement" => 'top',
        title: t('reimbursement_request_form.tooltips.remove_travel_itinerary')  do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <% end %>
  </td>
</tr>
