<tr class="nested-fields travel-itinerary" data-table-name="travel-itinerary">
  <td>
    <span class='date-label'><%= f.object.date.nil? ? '' : f.object.date.strftime("%Y-%m-%d") %></span>
    <%= f.input :date, as: :hidden, label: false, input_html: { class: 'date' } %>
    <%= f.input :country, as: :hidden, label: false, input_html: { class: 'country' } %>
    <%= f.input :state, as: :hidden, label: false, input_html: { class: 'state' } %>
    <%= f.input :city, as: :hidden, label: false, input_html: { class: 'city' } %>
  </td>
  <td><span class='location-label'><%= f.object.location_label %></span></td>
  <td><%= f.input :break, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :lunch, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :dinner, label: false, input_html: { class: 'sum-input'} %></td>
  <td><%= f.input :hotel, label: false, input_html: { class: 'hotel sum-input' } %></td>
  <td><%= f.input :amount, label: false, error_html: {}, input_html: { readonly: true, class: "row-sum-input" } %></td>
  <td>
    <%= f.input :per_diem, as: :hidden, label: false, input_html: { class: "per-diem-rate" } %>
    <input type='hidden' class='travel-city-id' />
    <input type='hidden' class='unique-id' />
    <a class='add-other-expenses btn btn-primary btn-sm hidden' data-toggle='tooltip' data-placement='top' title='<%= t('reimbursement_request_form.tooltips.generate_other_expense') %>' href='#'>
      <i class="fa fa-plus fa-2x"></i>
    </a>
    <%= link_to_remove_association f,
      class: "btn btn-danger btn-sm",
      "data-toggle" => 'tooltip',
      "data-placement" => 'top',
      title: t('reimbursement_request_form.tooltips.remove_travel_itinerary')  do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <% end %>
  </td>
</tr>
