<tr class="nested-fields travel-city" data-table-name="travel-city">
  <td><%= f.input :from_date, as: :date_picker, label: false %></td>
  <td><%= f.input :to_date, as: :date_picker, label: false %></td>
  <td><%= render partial: 'travel_locations_row', locals: { f: f } %></td>
  <td><%= f.input :hotel_rate, label: false %></td>
  <td>
    <div class="travel-city-controls">
      <%= f.input :id, as: :hidden, wrapper: false, input_html: { class: "travel-city-id" } %>
      <input type='hidden' class='unique-id' />
      <a class='add-itineraries btn btn-primary btn-sm' data-toggle='tooltip' data-placement='top' title='<%= t('reimbursement_request_form.tooltips.add_daily_itineraries') %>' href='#'>
        <i class="fa fa-calendar-plus-o fa-2x"></i>
      </a>
      <%= link_to_remove_association f,
          class: "btn btn-danger btn-sm",
          "data-toggle" => 'tooltip',
          "data-placement" => 'top',
          title: t('reimbursement_request_form.tooltips.remove_travel_city')  do %>
        <i class="fa fa-trash-o fa-2x"></i>
      <% end %>
    </div>
  </td>
</tr>
