<div class="container show">
  <div class="row">
    <div class="col-12">
      <h3>Request Details <span class="badge <%=@reimbursement_request.status %>"><%= @reimbursement_request.status.titlecase %></span></h3>
      <p></p>
      <p><strong>Claimant: </strong><%= @reimbursement_request.claimant.full_name %></p>
      <p><strong>Certifier: </strong><%= @reimbursement_request.certifier.full_name %></p>
      <p><strong>Description: </strong><%= @reimbursement_request.description.name %></p>
      <p><strong>Business Notes and Purpose: </strong><%= @reimbursement_request.business_notes_and_purpose %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render partial: "show_table",
        locals: {
          title: "Cities",
          attributes: ["from_date", "to_date", "location", "hotel_rate"],
          objects: @reimbursement_request.travel_cities, id: "travel-cities",
          functions: {
            "from_date" => lambda do |obj| get_simple_date(obj['from_date']) end,
            "to_date" => lambda do |obj| get_simple_date(obj['to_date']) end,
            "location" => lambda do |obj| "#{obj['city']}, #{obj['state']} (#{obj['country']})" end,
            "hotel_rate" => lambda do |obj| number_to_currency(obj['hotel_rate'], precision: 2) end
          }
      } %>
      <%= render partial: "show_table",
        locals: {
          title: "Daily Itineraries", attributes: ["date", "location", "break", "lunch", "dinner", "hotel", "amount"],
          objects: @reimbursement_request.travel_itineraries, id: "travel-itineraries",
          functions: {
            "date" => lambda do |obj| get_simple_date(obj['date']) end,
            "break" => lambda do |obj| number_to_currency(obj['break'], precision: 2) end,
            "lunch" => lambda do |obj| number_to_currency(obj['lunch'], precision: 2) end,
            "dinner" => lambda do |obj| number_to_currency(obj['dinner'], precision: 2) end,
            "hotel" => lambda do |obj| number_to_currency(obj['hotel'], precision: 2) end,
            "location" => lambda do |obj| "#{obj['city']}, #{obj['state']} (#{obj['country']})" end,
            "amount" => lambda do |obj| number_to_currency(obj['amount'], precision: 2) end
          }
      } %>
    </div>
  </div>

  <%= render partial: "show_table", locals: {
    title: "Other Expenses",
    attributes: ["expense_type", "from_date", "to_date", "notes", "amount"],
    objects: @reimbursement_request.expense_others,
    id: "expense-airfares",
    functions: {
      "expense_type" => lambda do |expense_other|
        expense_type = ExpenseType.find(expense_other.expense_type_id) if expense_other.expense_type_id
        return (expense_type ? expense_type.name : "")
      end,
      "from_date" => lambda do |obj| get_simple_date(obj['from_date']) end,
      "to_date" => lambda do |obj| get_simple_date(obj['to_date']) end,
      "amount" => lambda do |obj| number_to_currency(obj['amount'], precision: 2) end
    }
  } %>

  <%= render partial: "show_table", locals: {
    title: "Auto Mileage",
    attributes: ["from_date", "to_date", "from_state", "from_city", "to_state", "to_city", "miles", "notes", "amount"],
    objects: @reimbursement_request.expense_mileages,
    id: "expense_mileages",
    functions: {
      "from_date" => lambda do |obj| get_simple_date(obj['from_date']) end,
      "to_date" => lambda do |obj| get_simple_date(obj['to_date']) end,
      "amount" => lambda do |obj| number_to_currency(obj['amount'], precision: 2) end
    }
  } %>
  <%= render partial: "show_table", locals: {
    title: "Airfare",
    attributes: ["from_date", "to_date", "from_location", "to_location", "notes", "amount"],
    objects: @reimbursement_request.expense_airfares,
    id: "expense-airfares",
    functions: {
      "from_date" => lambda do |obj| get_simple_date(obj['from_date']) end,
      "to_date" => lambda do |obj| get_simple_date(obj['to_date']) end,
      "amount" => lambda do |obj| number_to_currency(obj['amount'], precision: 2) end
    }
  } %>
  <%= render partial: "show_table", locals: {
    title: "Accounting",
    attributes: ["index", "fund", "organization", "account", "program", "activity", "amount"],
    objects: @reimbursement_request.accountings,
    id: "accountings",
    functions: {
      "amount" => lambda do |obj| number_to_currency(obj['amount'], precision: 2) end
    }
  } %>

  <div class="row">
    <div class="col-12">
      <h3>Attachments:</h3>
      <% if @reimbursement_request.attachments.count > 0 %>
        <% @reimbursement_request.attachments.each do |a| %>
          <%= link_to (image_tag a.attachment.url(:thumb) ), a.attachment.url, target: :_blank %>
        <% end %>
      <% else %>
        <p>No attachments</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3>Total: <%= number_to_currency(@reimbursement_request.grand_total, precision: 2) %></h3>
    </div>
  </div>
  <div class="row list-inline print-hide">
    <% if current_user.can_manage(@reimbursement_request) %>
      <%= link_to("Approve",
        approve_reimbursement_request_path(@reimbursement_request),
        method: :patch,
        class: 'col btn btn-success btn-lg list-inline-item') if @reimbursement_request.status != 'approved' %>
      <%= link_to("Deny",
        decline_reimbursement_request_path(@reimbursement_request),
        method: :patch,
        class: 'col btn btn-danger btn-lg list-inline-item') if @reimbursement_request.status != 'declined' %>
    <% end %>
    <div class='col col-4 align-self-end'>
      <%= link_to("Edit", edit_reimbursement_request_path(@reimbursement_request.id), class: "btn btn-primary edit-btn btn-lg align-self-center list-inline-item") %>
      <%= link_to("Export as PDF",
        reimbursement_request_path(@reimbursement_request.id, format: :pdf),
        class: "btn btn-light btn-lg align-self-center list-inline-item ",
        :'data-toggle' => 'tooltip',
        :'data-placement' => 'top',
        title: t('reimbursement_request_form.tooltips.export_pdf')) %>
    </div>
  </div>
  <%= render 'status_comment'%>
</div>
