<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-danger">
      <h3><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved: </h3>
      <% @user.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :pidm %>
    <%= f.number_field :pidm, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :certifier %>
    <%= f.check_box :certifier, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.submit class: "form-control" %>
  </div>
<% end %>
