<h2><%= @user.username %></h2>
<p>Email: <%= @user.email %></p>
<p>PIDM: <%= @user.pidm %></p>
<% if @user.certifier %>
  <p>User is a certifier</p>
<% else %>
  <p> User is not a certifier </p>
<% end %>
<%= link_to "Edit", edit_user_path(@user.id) %> | <%= link_to "All users", users_path %>
