<!DOCTYPE html>
<html>
  <head>
    <title>Tres Bien</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body class="container-fluid">
    <%= render "navbar/navigation" %>
    <main id="main-content">
    <%= render partial: 'layouts/flash_messages' %>
    <%= yield %>
    </main>
    <%= render "footer/footer"%>
  </body>
</html>
